h1 {
    text-align: center;
    font-weight: 400;

}

.example-card {
    margin: 0 auto;
    max-width: 250px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

p {
    text-align: center;
}